@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body { 
    text-align: center;
    padding: 0 40px;
}

body > div {
    text-align: left;
    display: inline-block;
    clear: both;
}

.site-wrapper {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    float: left;
    width: 1000px;
    border-left: 1px solid lightseagreen;
    border-right: 1px solid lightseagreen;
}

input[type=text], input[type=password], input[type=submit] {
    display: block;
    margin: 10px 0px;
    padding: 5px;
}

input[type=text] {
    width: 500px;
}

input[type=submit] {
    padding: 5px 10px;
    font-size: 16px;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 18px;
}