@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body { 
    text-align: center;
    padding: 40px;
}

body > div {
    text-align: left;
    display: inline-block;
    clear: both;
}

.site-wrapper {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border-left: 1px solid black;
    border-right: 1px solid lightgreen;
}

.container {
    float: left;
    width: 1000px;
}