@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body { 
    text-align: center;
    padding: 0 40px;
}

body > div {
    text-align: left;
    display: inline-block;
    clear: both;
}

div.site-wrapper {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

div.container {
    float: left;
    width: 1000px;
    border-left: 1px solid lightseagreen;
    border-right: 1px solid lightseagreen;
}