.details-article {
    padding: 10px 0;
}

.details-article h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    display: inline-block;
    margin-bottom: 25px;
}

.details-article h4 {
    margin-top: 35px;
    text-decoration: underline;
}

.details-article img {
    float: left;
    margin-right: 90px;
    width: 300px;
    height: 282px;
    object-fit: cover;
}

.details-article iframe {
    border: 0;
}

.details-article div.visual-section {
    /* height: 300px; */
    margin-bottom: 12px;
}

.details-article p.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-bottom: 20px;
}

.details-article a.read-more {
    text-decoration: none;
}

.details-article div.user-control {
    display: inline-block;
    float: right;
}

.details-article a.user-btn {
    text-decoration: none;
    padding: 0 10px;
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.details-article a.user-btn:hover {
    color: rgb(97, 218, 251);
}

.details-article span.author-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.details-article time[datetime] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.details-article form {
    margin-top: 20px;
}

.details-article label {
    font-size: 16px;
    display: block;
    margin: 10px 0;
}

.details-article input[type=submit] {
    padding: 5px;
    font-size: 14px;
}

.details-article input[name=name] {
    width: 487px;
}

.details-article textarea[name=comment] {
    width: 500px;
}

.details-article div.article-info {
    margin-top: 40px;
}

.details-article span.cannot-like-article {
    float: right;
    margin-top: 12px;
    color: #32a999;
    font-weight: bold;
}

.details-article span.cannot-like-article span {
    color: #dc687e;
}

.details-article span.can-like-article {
    float: right;
    margin-top: 12px;
    color: #04808c;
    font-weight: bold;
}

.details-article span.can-like-article span {
    font-size: 19px;
    color: #dc687e;
    margin: 0 5px;
}

.details-article span.can-like-article span:hover {
    color: #4de07e;
    cursor: pointer;
}