.details-article { 
    padding: 10px 0;
}

.details-article h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
}

.details-article h4 {
    margin-top: 35px;
    text-decoration: underline;
}

.details-article img {
    width: 250px;
    margin-bottom: 20px;
}

.details-article p.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-bottom: 40px;
}

.details-article a.read-more {
    text-decoration: none;
}

.details-article span.author-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.details-article time[datetime] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.details-article form {
    margin-top: 20px;
}

.details-article label {
    font-size: 16px;
    display: block;
    margin: 10px 0;
}

.details-article input[type=submit] {
    padding: 5px;
    font-size: 14px;
}

.details-article input[name=name] {
    width: 487px;
}

.details-article textarea[name=comment] {
    width: 500px;
}