.create-article input[name=title], input[name=imageUrl] {
    width: 500px;
}

.create-article textarea[name=content] {
    resize: vertical;
    width: 70%;
    min-height: 300px;
    margin-top: 10px;
}

.create-article select[name=category] {
    margin-top: 10px;
    width: 140px;
    height: 26px;
}