.main-wrapper { 
    padding: 0 20px;
}

.main-wrapper section {
    padding: 0px 10px;
    width: 98%;
}

.main-wrapper section h2 {
    font-size: 30px;
    padding: 10px;
    margin: 0 -10px;
}

.main-wrapper input[type=text], input[type=password], input[type=submit] {
    display: block;
    margin: 10px 0px;
    padding: 5px;
}

.main-wrapper input[type=submit] {
    padding: 5px 10px;
    font-size: 16px;
}

.main-wrapper label {
    display: block;
    margin-top: 20px;
    font-size: 18px;
}

input[name=username], input[name=password], input[name=repeatPassword]:invalid {
    outline-color: rgb(231, 104, 104);
}

input[name=username]:valid {
    outline-color: black;
}

input[name=password]:valid {
    outline-color: black;
}

input[name=repeatPassword]:valid {
    outline-color: black;
}

.error {
    display: none;
}

.minLength {
    display: block;
    color: red;
}