.main-wrapper { 
    padding: 20px;
}

.main-wrapper section {
    padding: 0px 10px;
    width: 98%;
}

.main-wrapper section h2 {
    padding: 10px 20px;
    margin: 0 -10px;
    background-color: rgb(207, 237, 247);
}

.main-wrapper section article { 
    padding: 20px 0px;
}

.main-wrapper section article h3 {
    margin-bottom: 15px;
}

.main-wrapper section article p.description {
    margin-bottom: 30px;
}

.main-wrapper .read-more {
    text-decoration: none;
    float: right;
    margin-right: 10px;
}

.main-wrapper span.author-name {
    font-size: 14px;
}

.main-wrapper time[datetime] {
    font-size: 12px;
}

.main-wrapper textarea[name=content] {
    resize: vertical;
    width: 70%;
    min-height: 300px;
    margin-top: 10px;
}

.main-wrapper select[name=category] {
    margin-top: 10px;
    width: 100px;
    height: 26px;
}