.main-wrapper { 
    padding: 0 20px;
}

.main-wrapper section {
    padding: 0px 10px;
    width: 98%;
}

.main-wrapper section h2 {
    font-size: 30px;
    padding: 10px;
    margin: 0 -10px;
    /* background-color: rgb(207, 237, 247); */
}

.main-wrapper time[datetime] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.main-wrapper textarea[name=content] {
    resize: vertical;
    width: 70%;
    min-height: 300px;
    margin-top: 10px;
}

.main-wrapper select[name=category] {
    margin-top: 10px;
    width: 140px;
    height: 26px;
}