.article-form input[name=title], input[name=imageUrl], input[name=youtubeUrl] {
    width: 500px;
}

.article-form textarea[name=content] {
    resize: vertical;
    width: 70%;
    min-height: 300px;
    margin-top: 10px;
}

.article-form select[name=category] {
    margin-top: 10px;
    width: 140px;
    height: 26px;
}