.article-form input[name=title], input[name=youtubeUrl] {
    width: 500px;
}

.article-form textarea[name=content] {
    resize: vertical;
    width: 70%;
    min-height: 300px;
    margin-top: 10px;
}

.article-form select[name=category] {
    margin-top: 10px;
    width: 140px;
    height: 26px;
}

.article-form input[name=image] {
    margin-top: 10px;
}

.article-form img {
    display: block;
    width: 300px;
    height: 282px;
    object-fit: cover;
}

.article-form div.delete-image {
    margin-top: 2px;
    margin-bottom: 7px;
}

.article-form span.delete-image-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width:480px) {
    .article-form input[name=title], input[name=youtubeUrl] {
        width: 164px;
    }
    .article-form textarea[name=content] {
        width: 92%;
    }
    .article-form img {
        width: 175px;
        height: 165px;
    }
}

@media (min-width: 481px) and (max-width:960px) {
    .article-form input[name=title], input[name=youtubeUrl] {
        width: 260px;
    }
    .article-form textarea[name=content] {
        width: 98%;
    }
}