.site-header {
    background-color: lightcyan;
    height: 65px;
    padding: 15px 20px;
    text-align: left;
}

.site-header li{
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

.site-header li span {
    font-size: 20px;
}

.site-header a {
    text-decoration: none;
    padding: 14px 36px;
    margin-right: 5px;
    color: mediumaquamarine;
    background-color: floralwhite;
    font-size: 21px;
    font-weight: bold;
    border-radius: 25px;
}

.site-header a:hover {
    color: floralwhite;
    background-color: mediumaquamarine;
}