.site-header {
    height: 33px;
    padding: 20px;
    text-align: left;
}

.site-header li{
    display: inline-block;
    padding: 10px;
}

.site-header li span {
    font-size: 20px;
}

.site-header a {
    text-decoration: none;
    /* padding: 10px 25px; */
    margin-right: 5px;
    color: black;
    /* background-color: rgb(120, 178, 224); */
    font-size: 19px;
    font-weight: bold;
    /* border-radius: 25px; */
}

.site-header a:hover {
    color: rgb(97, 218, 251);
    background-color: rgb(255, 255, 255);
}