.site-header {
    /* height: 33px; */
    padding: 20px;
    text-align: right;
}

.site-header li{
    display: inline-block;
    padding: 10px;
}

.site-header li span {
    font-size: 20px;
}

.site-header a {
    text-decoration: none;
    margin-right: 5px;
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.site-header a:hover {
    color: rgb(97, 218, 251);
    background-color: rgb(255, 255, 255);
}