.aside-menu {
    float: left;
    width: 160px;
}

.aside-menu nav a {
    display: block;
    margin: 10px 0px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(17, 65, 62);
    font-weight: bold;
}

.aside-menu nav a:hover {
    text-decoration: underline;
}

.aside-menu img {
    width: 128px;
    height: 128px;
}